Options -Indexes
ErrorDocument 400 /400.php
ErrorDocument 401 /401.php
ErrorDocument 404 /404.php
ErrorDocument 403 /403.php
ErrorDocument 500 /500.php
RewriteEngine on
RewriteRule ^/error\.php$ / [NC,L]
RewriteRule ^400\.php$ /error.php [R=301]
RewriteRule ^401\.php$ /error.php [R=301]
RewriteRule ^404\.php$ /error.php [R=301]
RewriteRule ^403\.php$ /error.php [R=301]
RewriteRule ^500\.php$ /error.php [R=301]
RewriteRule ^500\.php$ /error.php [R=301]
RewriteRule ^.*\.php/.*$ /error.php [R=301]
RewriteRule ^index\.html.*$ / [R=301]